body {
    font-size: 15px;
    line-height: 21px;
    background-color: #000000;
    width: 100%;
    font-family: 'Spiller','Arial','Helvetica','sans-serif';
    overflow-x: hidden;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

.link1{
    text-decoration: underline;
    font-size: 14px;
    padding: 0px 14px 0px 0px;
    width: 185px;
    height: 16px;
}

a:hover,
a:visited,
a:link,
a:active{
    color: white;
}

.Welcome-to-the-family-of-art{
    width: 590px;
    height: 300px;
    border: none;
    margin: 0px;
    padding: 0px;
    line-height: 2.8rem;
    font-size: 17px;
    position: relative;
    top: 60px;
}

.Welcome-to-the-family-of-art h2{
    margin: 0px;
    width: 620px;
    height: 260px;
    font-size: 32px;
    position: relative;
    left: -50px;
    top: -40px;
    z-index: 2;
    font-weight: normal;
    letter-spacing: 2px;
}

.piaogen{
    float: left;
    width: 30px;
    height: auto;
}

.Admission-is-free{
    position: relative;
    top: -120px;
    left: 630px;
    z-index: 2;
    font-size: 9px;
    height: 370px;
    padding: 0px;
    border: 0px;
    margin: 0px 0px 20px 0px;
    width: 267px;
    height: 290px;
    list-style-type: none;
    /* display: table-cell; */
}

.some{
    width: 210px;
    height: 42px;
}

ul{
    list-style-type: none;
    width: 267px;
    height: 133px;
}

button{
    font-size: 17px;
    color: #fff;
    padding: 5px;
    background-color: #000000;
    margin: 5px;
}

.button:active{
    border: 4px solid #fff;
    border-radius:10px 10px 10px 10px;
    outline:3px solid #000;
}

.button:hover{
    background-color: #484a4f;
}

.logo{
    width: 30px;
    height: 20px;
}

.hengxiangtupian1,
.hengxiangtupian2{
    width: 400px;
    height: 250px;
}

.zongxiangtupian1,
.zongxiangtupian2,
.zongxiangtupian3{
    width: 250px;
    height: 400px;
    /* background: linear-gradient(
        transparent, rgba(0,0,0,0.7)); */
}

.hengxiangtupian1:active,
.hengxiangtupian2:active,
.zongxiangtupian1:active,
.zongxiangtupian2:active,
.zongxiangtupian3:active{
    border: 4px solid #fff;
}

.shixiang{
    width: 480px;
    height: 350px;
    float: right;
    position: relative;
    top: -108px;
    left: 10px;
}

.Admission{
    font-size: 23px;
    margin: 0px 0px 10px 0px;
}

.some{
    font-size: 14px;
    margin: 0px 0px 10px 0px;
}

.South-link::after{
    content: " ";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0) 36%);
    opacity: .5;
}

.South-link{
    display:block;
    height: 250px;
    width: 400px;
}

.South,
.Dundeeh3,
.Wedgwood,
.Youngh3,
.Easth3{
    position: absolute;
    left: 15px;
    top: -5px;
    z-index:2;
}

.South-body,
.Dundee-body,
.Wedgwood-text,
.Young-text,
.East-text{
    position: absolute;
    left: 15px;
    top: 35px;
    z-index:2;
    text-shadow:0 1px 3px #1d1e20;
}

.South-Kensington{
    position: relative;
    left: 20px;
    width: 428px;
    height: 428px;
    margin: 0px 0px 20px 0px;
}

.Dundee-link::after{
    content: " ";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0) 36%);
    opacity: .5;
}

.Dundee{
    position: relative;
    left: 420px;
    top: -450px;
    width: 256px;
    height: 428px;
    margin: 0px 0px 20px 20px;
}

.Wedgwood-link::after{
    content: " ";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0) 36%);
    opacity: .5;
}

.Wedgwood-Collection{
    position: relative;
    left: 690px;
    top: -900px;
    width: 256px;
    height: 428px;
    margin: 0px 0px 20px 20px;
}

.Young-link::after{
    content: " ";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0) 36%);
    opacity: .5;
}

.Young{
    position: relative;
    left: -10px;
    top: -1070px;
    width: 256px;
    height: 256px;
    margin: 0px 0px 20px 181px;
}

.East-link::after{
    content: " ";/*在content中加样式*/
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to bottom, #000, rgba(0, 0, 0, 0) 36%);
    opacity: .5;
}

.East{
    position: relative;
    left: 420px;
    top: -1195px;
    width: 428px;
    height: 256px;
    margin: 0px 0px 20px 20px;
}

.First-text{
    font-size: 17px;
    width: 890px;
    height: 240px;
    padding: 40px 65px 40px 65px;
    background-color: #1d1e20;
    position: relative;
    left: 210px;
    /* display: table-row; */
}

.tupianqu{
    width: 978px;
    height: 700px;
    position: absolute;
    left: 220px;
    background-color: #1d1e20;
    padding: 0px 20px 40px 20px;
    margin: -10px 0px 0px 0px;
}

.Fundraising{
    width: 1020px;
    height: 343px;
    position: relative;
    top: 800px;
    left: 200px;
    background-color: #fff;
}

.Fundraising-link{
    position: relative;
    left: 80px;
    top: 50px;
    /* border-bottom: 250px solid #fff;
        border-right: 150px solid transparent; */
}

.white-sanjiao{
    border-bottom: 344px solid #fff;
    border-right: 226px solid transparent;
    z-index: 2;
    position: relative;
    left: 280px;
    top: -115px;
}

.news-title{
    width: 40px;
    height: 18px;
    font-weight: normal; 
    font-size: 15px;
    color: #505354;
}

.news-head{
    width: 490px;
    height: 40px;
    margin: 15px 0px;
    font-size: 31px;
    color: #1d1e20;
    font-weight: normal;
}

.news-text{
    width: 515px;
    height: 56px;
    font-size: 17px;
    margin: 0px;
    color: #505354;
}